@font-face {
	font-family: 'Hasklug Nerd Font Mono';
	font-weight: 400;
	font-style: normal;
	src: url("hasklug--300-normal--nerd-font-complete--mono.otf");
}

@font-face {
	font-family: 'Hasklug Nerd Font Mono';
	font-weight: 400;
	font-style: italic;
	src: url("hasklug--300-italic--nerd-font-complete--mono.otf");
}


@font-face {
	font-family: 'Hasklug Nerd Font Mono';
	font-weight: 700;
	font-style: normal;
	src: url("hasklug--500-normal--nerd-font-complete--mono.otf");
}

@font-face {
	font-family: 'Hasklug Nerd Font Mono';
	font-weight: 700;
	font-style: italic;
	src: url("hasklug--500-italic--nerd-font-complete--mono.otf");
}